<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Innovating in Old Age Industries</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel='stylesheet' href='https://bootswatch.com/4/slate/bootstrap.min.css'>
	
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	 <a class="navbar-brand" href="#"><!--<img src="../static/img/pathscan.png" style="width:400px;height:150px;">--></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item-active">
				<a class="nav-link" href="/">Home</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Connect</a>
			</li> 
		</ul>
	</div>
</div>
</nav>
<center>
    <h1> Our Team </h1>
    <img src="../static/img/OurTeam.jpg" class="img-fluid"style="width:500px;height:300px;">



    <h1>Our Mission </h1>
		<p>We look to solve the needs of every individual and secure their safety on the internet. Our product is designed to identify
		all threats from non-humans. Not everyone message sent on the internet now has a human sending the message in today's society. Stay 
		protected and insure your safety by using our bot detecting software on all messages from emails, DMs, and even voicemails today!	</p>
		<br>
		<br>
	<h2> Our Platform </h2>
		<p> The bot detector is a product that allows people to copy and paste messages into our system. Once they submit their message
		to our system our algorithms will tell the user if the message was written by a human or not. </p>

	

</center>


	<!--- Connect -->
	<div class"container-fluid padding">
		<div class="row text-center padding">
			<div class="col-12">
			</div>
			<div class="col-12 social padding">
				<a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
				<a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
				<a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
				<a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a>
				<a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fab fa-google-plus-g"></i></a>
			</div>
		</div>
	</div>


	<!--- Footer -->
	<footer><center>
			<h5> Our Information </h5>
			<hr class="light"> 
			<p>555-555-5555</p>
			<p>email@bootstrap.com</p>
			<p>100 Street Name</p>
			<p>City, State, 00000</p>
	</center>
	</footer>
</body>
</html>