{% extends 'base.html' %}

{% block content %}
<center>
<br>
<h1> Buy Now </h1>
<br>
<h2> Never Get Tricked By A Bot Again For Just $5.00</h2>
<br>

    <form id="stripe_button" action="/charge" method="post">
        <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="500"
            data-locale="auto">
        </script>
    </form>
</center>
{% endblock %}

