{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}

<link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
{% endblock %}



<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home')}}">Bot Detector</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('home') }}"> Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
<body>
{% block stripebutton %}
<center>
<br>
<h3> Click Pay With Card to Purchase the Product </h3>
<br>
<br>


      <div class="jumbotron">
        <h1 class="display-2" style='color: white;'>The Product</h1>
        <p class="lead">Purchase The Product for only $10.</p>
        <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-amount="1000"
            data-name="Demo Site"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>
      </div>
<br>
<h3> Never Get Tricked by a Bot again for a one time purchase!</h3>
</center>
</body>
{% endblock %}